.main-container {
    .nosotros-contenido {
        .nosotros-containerB {
            img {
                position: absolute;
                height: 177px;
                object-fit: cover;
                border-radius: 20px;
                top: 1rem;
                right: 106px;
                width: 24rem;
            }

            >h3 {
                margin: 0.87em 0 0.87em 0;
            }
        }

        p {
            text-align: justify;
            line-height: 32px;
        }
    }

    .nosotros-contenido {
        @include styleMainGlobal (0, auto, 2rem, 3rem, $border_main, $shadow_main);

        .nosotros-containerB {
            .nosotros-sub {
                margin: 0.87em 0 0.87em 0;
                font-size: calc(1.3rem + .6vw);
                font-weight: 500;
                line-height: 1.2;
            }

            >h3 {
                margin: 0.87em 0 0.87em 0;
            }
        }

        >p {
            text-align: justify;
            line-height: 32px;
        }
    }
}

/**************** Para Tablet **********************/
@media (max-width: $medium-1) {
    .main-container {
        .nosotros-contenido {
            .nosotros-containerB {
                img {
                    top: 12px;
                    height: 115px;  
                    right: 127px;
                    width: 19rem;
                }
            }
        }
    }
}
@media (max-width: $medium) {
    .main-container {
        .nosotros-contenido {
            .nosotros-containerB {
                img {
                    top: 12px;
                    height: 143px;
                    right: 33px;
                }
            }
        }
    }
}

/**************** Para Moviles **********************/

@media (max-width: $small) {
    .main-container {
        .nosotros-contenido {
            .nosotros-containerB {
                img {
                    top: 15px;
                    height: 120px;
                    width: 50%;
                    right: 33px;
                }
            }
        }
    }
}