/* para iconos */
@import "https://use.fontawesome.com/releases/v6.1.1/css/all.css";
.footer-container{
  bottom: 0;
  position: fixed;
}

.footer {
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #070d1b;
  height: 55px;
  .redes {
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 8px;
    > a {
      text-decoration: none;
      color: #fff;
      i{
        color: #fff!important;
      }
    }
  }
  p{
    color: #fff;
  }
  > img {
    margin-right: 10px;
  }
}

/* Tablet y Movil*/

@media (max-width: 767px) {
  .footer {
    display: flex;
    align-items: center;
    width: 100vw;
    .redes {
      margin: 0 auto;
      letter-spacing: 10px;
    }

    > {
      p,
      img {
        display: none;
      }
    }
  }
}
