.MuiPaper-root {
    &.MuiAppBar-root {
        background-color: #070d1b;
    }

    .MuiContainer-root {
        .MuiToolbar-root {
            .MuiBox-root {
                a {
                    text-decoration: none;

                    .MuiButtonBase-root {
                        &:hover {
                            color: yellow;
                        }
                    }
                }

                .active {

                    .MuiButtonBase-root {
                        color: yellow;
                    }

                }
            }
        }
    }
}


.MuiDrawer-root {
    .MuiPaper-root {
        background-color: black;
        color: #fff;
    }

    .side-bar {
        .MuiList-root {
            .active {
                color: yellow;

                li {
                    background: #75758136;
                }
            }

            a {
                color: #fff;
                font-weight: 500;

                li {
                    &:hover {
                        background: #75758136;
                    }
                }

            }
        }
    }
}

.MuiBox-root.css-2uchni {
    gap: 10px;
    display: flex;

    svg {
        color: #fff;
    }
}


.MuiBox-root {
    .active {
        .MuiButtonBase-root {
            color: yellow;
        }
        
    }

    .MuiButtonBase-root {

        &:hover {
            color: yellow;
        }
    }

}

@media (max-width: 599px)  {
    .MuiBox-root{
    .MuiPaper-root{
       .MuiToolbar-root{
        display: flex;
        justify-content: space-between;
       } 
    }
}
}
